string{
	color: red;
	font-family: bold;
}
.bod{
	width: 300px;
	overflow: hidden;
	overflow-x: scroll;
}
img{
	width:290px;
	height: 300px;
}
a{
	background-color: #001DFF;
	color: #000000;
	border-radius: 2px;
	border: 1px:
}